<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ck.newssdk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".widget.CardManageAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".widget.SearchAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <receiver android:name=".widget.NewAppWidget">
            <intent-filter android:priority="1000">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="collection_view_action"/>
                <action android:name="refresh_widget"/>
                <action android:name="serach_widget"/>
                <action android:name="load_more_news_widget"/>
                <action android:name="card_widget"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info"/>
        </receiver>

        <service
            android:name=".widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".ui.web.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="CHANNEL"
            android:value="999"/>

    </application>

</manifest>