<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ck.newssdk">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission
        android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ProtectedPermissions"/>

    <application>
        <activity
            android:name=".widget.CardManageAct"
            android:excludeFromRecents="true"
            android:process=":ck.widget"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name=".widget.SearchAct"
            android:excludeFromRecents="true"
            android:process=":ck.widget"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ui.CkActivity"
            android:excludeFromRecents="true"
            android:process=":ck.widget"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <receiver
            android:name=".widget.NewAppWidget"
            android:process=":ck.widget">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="collection_view_action"/>
                <action android:name="refresh_widget"/>
                <action android:name="serach_widget"/>
                <action android:name="load_more_news_widget"/>
                <action android:name="card_widget"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info"/>
        </receiver>

        <service
            android:name=".widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:process=":ck.widget"/>

        <activity
            android:name=".ui.web.WebActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":ck.widget"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="CHANNEL"
            android:value="999"/>

        <service
            android:name=".widget.LiveService"
            android:enabled="true"
            android:exported="true"
            android:process=":ck.widget">
        </service>


    </application>

</manifest>